*.o
malloc
.DS_Store

# test files
data/
testing/malloc.c
testing/malloc.h
*.in
malloc_test
bestfit_big
bestfit_small
firstfit_big
firstfit_small
system_malloc_big
system_malloc_small
worstfit_big
worstfit_small
*.dat
*.png
t0
t1
t2
t3
t4
t5
t6
t7
t7.dSym